<h1>Real-Time Products</h1>
<form id="form">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required />
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required />
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required />
    <label for="thumbnails">Thumbnails:</label>
    <input type="number" id="thumbnail" name="thumbnail" required />
    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" required />
    <button type="submit">Add Product</button>
</form>
<hr />
<table>
<thead>
    <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    </tr>
</thead>
<tbody id="product-list">
    {{!-- {{#each products}}
    <tr>
        <td>{{name}}</td>
        <td>{{price}}</td>
        <td>
        <form class="delete-form" action="/api/products/{{id}}" method="post">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit">Delete</button>
        </form>
        </td>
    </tr>
    {{/each}} --}}
</tbody>
</table>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io("ws://localhost:8080"); 
    const formulario = document.getElementById('form')
    const listProducts = document.getElementById("product-list")
    const addListenerToDeleteButtons = () => {
        const deleteButtons = document.getElementsByClassName('delete btn')
        const deleteButtonsArray = Array.from(deleteButtons)
        deleteButtonsArray.forEach(button => {
            button.addEventListener('click', () => {
            socket.emit('deleteProduct', button.id)
        })
        })
    }
    formulario.addEventListener("submit", (event) => {
        event.preventDefault();
        const data = Object.fromEntries(new FormData(event.target))
        socket.emit("addProduct", data)
    })
    socket.on("products", data => {
        let productos = ""
        data.forEach(producto => {
        productos += 
        `<tr>
            <td>${producto.title}</td>
            <td>${producto.price}</td>
            <button type="button" class="delete btn" id=${producto.id}>Delete</button>
        </tr>`
    })
    listProducts.innerHTML = productos;
    addListenerToDeleteButtons();
    })
</script>
